* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header.headerhome {
  background-color: #111;
  color: #45a29e;
  text-align: center;
  padding: 10px;
}
body.home {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #c5c6c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.index-text {
  color: #c7c5c7;
  align-items: center;
}
body.sign {
  margin: 0;
  padding: 0;
  background: radial-gradient(
        circle farthest-side at 0 50%,
        #0b0c10 23.5%,
        #0000 0
      )
      67.2px 96px,
    radial-gradient(circle farthest-side at 0 50%, #45a29e 24%, #0000 0) 60.8px
      96px,
    linear-gradient(#0b0c10 14%, #0000 0, #0000 85%, #0b0c10 0) 0 0,
    linear-gradient(
        150deg,
        #0b0c10 24%,
        #45a29e 0,
        #45a29e 26%,
        #0000 0,
        #0000 74%,
        #45a29e 0,
        #45a29e 76%,
        #0b0c10 0
      )
      0 0,
    linear-gradient(
        30deg,
        #0b0c10 24%,
        #45a29e 0,
        #45a29e 26%,
        #0000 0,
        #0000 74%,
        #45a29e 0,
        #45a29e 76%,
        #0b0c10 0
      )
      0 0,
    linear-gradient(90deg, #45a29e 2%, #0b0c10 0, #0b0c10 98%, #45a29e 0) 0 0
      #0b0c10;
  background-size: 128px 192px;
  background-color: #0b0c10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
  background-color: #1f2833;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0.2);
}
.dropdown {
  float: right;
  overflow: hidden;
  background-color: #c5c6c7;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: 0;
  color: #1f2833;
  font-weight: 700;
  padding: 14px 16px;
  overflow: hidden;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c5c6c7;
  min-width: 125px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #111;
  padding: 12px 16px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  text-align: left;
  border-right-width: 30px;
}
textarea {
  resize: vertical;
  width: 98%;
  background-color: #c5c6c7;
  color: #111;
  border-radius: 0.25rem;
}
.text {
  height: 50px;
  resize: vertical;
  width: 98%;
  background-color: #c5c6c7;
  color: #111;
  overflow: hidden;
  border-radius: 0.25rem;
}
.dropdown-content a:hover {
  background-color: #c5c6c7;
  overflow: hidden;
}
.dropdown:hover .dropdown-content {
  overflow: hidden;
  display: block;
}
li.navcon {
  float: left;
}
li.navcon a {
  display: block;
  color: #c5c6c7;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
li.navcon a:hover:not(.active) {
  background-color: #111;
}
.heading {
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}
.para {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
footer {
  background-color: #1f2833;
  color: #c5c6c7;
  text-align: center;
  width: 100%;
  margin-top: auto;
  display: grid;
  left: 0;
  bottom: 0;
}
label {
  display: block;
  margin-bottom: 8px;
}
.container {
  background-color: #1f2833;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
h1 {
  margin-bottom: 20px;
  color: #fff;
  -webkit-text-stroke: 1px #111;
  text-shadow: 0 1px 4px #1f2833;
}
h3[type="error"] {
  color: #f33;
}
h3[type="message"] {
  color: #4caf50;
}
h4 {
  text-align: center;
  font-size: x-large;
}
