.text-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4c4c4c;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .text-input-half {
    width: calc(100% - 150px);
    padding: 10px;
    margin-bottom: 15px;
    background-color: #9a9eb1;
    border: 1px solid #4c4c4c;
    border-radius: 5px;
    box-sizing: border-box;
    float: right;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .text-input-half:hover {
    background-color: #68687e;
    color: 1f2833;
  }
  .submit {
    text-align: center;
    background-color: #c5c6c7;
    margin: 1px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    border: 1px solid #000;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 700;
  }
  .submit:hover,
  button:hover {
    background-color: #45a29e;
    color: 1f2833;
  }
  .form-button-middle {
    text-align: center;
    margin-top: 5px;
  }
  h3[type="error"] {
    color: #f33;
  }
  h3[type="message"] {
    color: #4caf50;
  }
  #file-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .file-card {
    display: flex;
    background-color: #1f2833;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    align-content: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    width: 312px;
  }
  .center-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #1f2833;
    padding: 15px 25px;
    border-radius: 4px;
    width: 120px;
  }
  .center-div-link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #c5c6c7;
    padding: 5px 25px;
    border-radius: 4px;
    width: 120px;
    transition: 0.3s ease-in-out;
  }
  .center-div-link:link {
    color: #111;
  }
  .center-div-link:visited {
    color: #45a29e;
  }
  .center-div-link:hover {
    color: #c7c5c7;
    background-color: #fff0;
    text-decoration: underline;
  }
  .file-card h3 {
    margin-top: 0;
  }
  .img {
    width: 300px;
  }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  #wtfForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f2833;
    padding: 20px;
    z-index: 1000;
  }
  #ShareLinks {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    padding: 35px;
    border-radius: 8px;
    z-index: 1000;
    width: 40%;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 94%;
  }
  tr {
    background-color: #0b0c10;
  }
  td {
    text-align: center;
    background-color: #1f2833;
    border: 3px inset #111;
  }
  span {
    color: #c5c6c7;
  }
  .click {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .log {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  header {
    opacity: 0.8;
    background: repeating-linear-gradient(
      45deg,
      #1f2833,
      #111 20px,
      #1f2833 20px,
      #111 100px
    );
  }
  .column {
    float: left;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px #1f2833;
  }
  .column::after {
    content: "";
    display: table;
    clear: both;
  }
  .column.side {
    width: 30%;
  }
  .column.middle {
    width: 70%;
  }
  