.dropdown-content,
ul.nav {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

footer,
header.headerhome {
  background-color: #333;
  color: #fff;
}

.container,
footer {
  width: 100%;
  text-align: center;
}

.container,
.heading,
footer,
h4,
header.headerhome,
li.navcon a {
  text-align: center;
}

header.headerhome {
  padding: 10px;
}

body.home,
body.sign {
  padding: 0;
  background-color: #fff;
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.home {
  min-height: 100vh;
  flex-direction: column;
}

body.sign {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0 50px;
  background-color: #000;
}

.dropdown {
  float: right;
  overflow: hidden;
  background-color: #04aa6d;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: 0;
  color: #fff;
  padding: 14px 16px;
  overflow: hidden;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 125px;
  z-index: 1;
}

.container,
.file-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  text-align: left;
  border-right-width: 30px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  overflow: hidden;
  display: block;
}

li.navcon {
  float: left;
}

li.navcon a {
  display: block;
  color: #fff;
  padding: 14px;
  text-decoration: none;
}

li.navcon a:hover:not(.active) {
  background-color: #111;
}

.heading {
  text-transform: uppercase;
  padding-bottom: 5px;
}

footer {
  margin-top: auto;
  display: block;
  left: 0;
  bottom: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
}

h4 {
  font-size: x-large;
}

.text-input {
  font-family: Arial, sans-serif;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.center-div,
.file-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.submit:hover,
button:hover {
  background-color: #45a049;
}

h3[type="error"] {
  color: #f33;
}

h3[type="message"] {
  color: #4caf50;
}

.switch-signup-signin {
  margin-top: 20px;
}

.switch-signup-signin a {
  text-decoration: none;
  color: #007bff;
}

#file-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.file-card {
  margin: 10px;
  width: 312px;
}

.center-div {
  margin: auto;
  width: 50px;
}

.file-card h3 {
  margin-top: 0;
}

.img {
  border: 8px solid #000;
  float: inline-end;
}