{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <body class="home">
    {% block body %}



    <script>window.flag = {{flag}}</script>


    <div id="file-list">
      <br />
      <script src="{{ url_for('static', filename='script.js') }}"></script>

      <!-- Your upload form popup with "file-card" class -->
      <div class="container" id="wtfForm" class="file-card">
        <form
          id="uploadForm"
          enctype="multipart/form-data"
          method="post"
          action="{{ url_for('myfile') }}"
        >
          {{ upload_files.csrf_token }} {{ upload_files.File(class_
          ="text-input") }} {{ upload_files.File_Type(class_ = "text-input") }}
          {{ upload_files.Upload(class_="submit") }}
        </form>
      </div>

      <!-- Background overlay for the popup -->
      <div id="overlay"></div>

      {%if files%} {% for file in files %}
      <div class="file-card">
        <form method="post" action="{{ url_for('myfile') }}">
          <div class="index-text">
          {{ form.csrf_token }} {{ form.Index(value=file["Index"],
          readonly=True) }} File Name: {{ form.File_Name(value=file["FileName"],
          readonly=True, class_="text-input-half") }}
          </div>
          <br/>
        </br>
        <div class="index-text">
          File Type: 
          {{ form.File_Type(value = file["FileType"], class_ ="text-input-half", readonly=True) }}
        </div>
        <br />
        </br>
        <div class="index-text">
          Last Edited By:
          {{form.Last_Edited_User(value=file["LastEditedUser"], class =
          "text-input-half", readonly=True)}}
          </div>
          <br />
        </br>
          <div class="index-text">
          Last Edited:
          {{form.Last_Edited_Time(value=file["LastEditedTime"], class =
          "text-input-half", readonly=True)}}
          </div>
          <!--Fix both this and css it's happening because of float-->
          <br />
          <br />
          <br />
          <div class="click">
            {{ form.Download(class_="submit", value_="Download") }}
            <button type="button" onclick="renameFile(this)" class="submit">
              Rename
            </button>
            {{ form.Rename(class_="submit", value_="Rename", hidden_ = "")}} 
            {{ form.Delete(class_="submit", value_="Delete") }} 
            <button type="button" onclick="displayLink(this)" class="submit">
              Share
            </button>
            {{ form.Share(class_="submit", value_="Share", hidden_ = "") }}
            {{ form.Rename_new(hidden_ = "")}}
          </div>
        </form>
      </div>
      <br />
      {% endfor %} {% else %}
      <div>
        <!--CSS NEEDED TO MAKE IT CENTERED-->
        <h3>No files available.</h3>
      </div>
      {% endif %}
    </div>
      
    <div id="ShareLinks">
      {% if flag == 1%}
        <a class="center-div-link" href={{share_links[0]}}> Viewer Authority</a>
    </br>
        <textarea readonly rows="4" class="text">{{share_links[0]}}</textarea>
    </br>
  </br>
        <a class="center-div-link" href={{share_links[1]}}> Editor Authority</a>
  </br>
        <textarea readonly rows="4" class="text">{{share_links[1]}}</textarea>
      {% endif %}
    </div>


    <!-- Button to trigger the upload form popup -->
    <div class="center-div">
      <button type="button" onclick="uploadFile(this)" class="submit">
        UPLOAD
      </button>
    </div>
  </br>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Using url_for to generate the URL for the static file -->

    {% endblock %}
  </body>
</html>
